:root {
  --plyr-color-main: #008A3C; /* Verde */
  --plyr-video-control-background-hover: #008A3C; /* Verde (hover) */
  --plyr-audio-control-background-hover: #008A3C; /* Verde (hover) */
  --plyr-progress-loading-background: rgba(0, 128, 0, 0.6); /* Verde (carregamento) */
  --plyr-range-fill-background: #008A3C; /* Verde (barra de progresso) */
  --plyr-video-range-thumb-active-shadow-color: rgba(0, 128, 0, 0.5); /* Verde (barra de progresso ativo) */
  --plyr-audio-range-thumb-active-shadow-color: rgba(0, 128, 0, 0.1); /* Verde (barra de progresso ativo) */
}

/* Plyr Audio Player - Fundo personalizado */
.plyr--audio {
background-color: #008a3c;
}
/* Ajustes adicionais para a interface do player */
.plyr--audio .plyr__controls {
background-color: #008a3c;
}
.plyr--audio .plyr__controls input {
color: #fff;
}
.plyr--audio .plyr__progress input {
background-color: #008a3c;
}
.plyr--audio .plyr__volume input {
background-color: #008a3c;
}
.plyr--audio .plyr__control:hover,
.plyr--audio .plyr__control[aria-expanded="true"] {
background: #00b3ff;
background: var(
--plyr-audio-control-background-hover,
var(--plyr-color-main, var(--plyr-color-main, #01a247))
);
color: #fff;
color: var(--plyr-audio-control-color-hover, #fff);
}
.plyr--audio .plyr__controls {
color: #4a5464;
color: var(--plyr-audio-control-color, #fff);
}
.plyr {
border-radius: 5px;
}

#tn-banner-whatsapp {
  background:var(--bg-whatsapp);
  border-radius:5px;
  display:flex;
  justify-content:space-between;
  overflow:hidden;
  margin:0;
  max-height:40px;
  width:100%;
  box-sizing:border-box;
  align-items:center;
  font-size:14px;
  background: #168d45;
  color: #fff;
}
.tn-whatsapp-icon-container {
  background:rgb(0 188 16);
  border-radius:50%;
  width:30px;
  height:30px;
  outline:5px solid rgb(0 188 16 / .5);
  display:flex;
  align-items:center;
  justify-content:center;
}
.tn-whatsapp-icon-bg {
  background:rgb(0 188 16 / .3);
  outline:9px solid rgb(0 188 16 / .1);
  border-radius:50%;
  padding:12px;
  margin-right:10px;
}
#tn-banner-whatsapp .tn-icons.tn-whatsapp {
  width:20px;
  height:20px;
  background:#00bc10;
}
.tn-whatsapp-info strong {
  color:var(--whatsapp-link)
}
.btn-tb span {
  margin-left:.5rem;
  font-weight:700;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
html[amp] #tn-banner-whatsapp {
  width:calc(100% - 30px);
  margin-left:auto;
  margin-right:auto;
}
#tn-banner-whatsapp .hide-desktop {
  display:none;
}
@media (prefers-color-scheme:dark) {
  html:not([dark-mode="no"],
  [amp]) .tn-whatsapp-info {
    color:#dcf8c6;
  }
}
html[dark-mode="yes"] .tn-whatsapp-info {
  color:#dcf8c6;
}
#tn-banner-whatsapp a {
  text-decoration:none;
}
#tn-banner-whatsapp .btn-tb {
  padding:.25rem .5rem;
  margin:0 6px;
  border-radius:5px;
  display:flex;
  align-items:center;
  font-size:13px;
  transition:.2s all ease;
  color:#fff;
  border:0;
  line-height:1.5;
  width:max-content;
}
#tn-banner-whatsapp .btn-tb:hover {
  color:#fff;
}
.btn-tb img {
  width:16px;
  max-height:16px;
  height:16px;
  object-fit:contain;
}
.btn-achados-wpp {
  background:#00BC10;
}
.btn-achados-wpp:hover {
  background:#00A10E;
}
.amp-wp-article-content #tn-banner-whatsapp {
  max-height:none;
}
@media only screen and (max-width:1024px) {
  #tn-banner-whatsapp .hide-desktop {
    display:block;
    background: #168d45;
    border-radius: 4px;
  }
  #tn-banner-whatsapp {
    max-height:47px;
    margin-block-start:15px;
    padding:.25rem .5rem .25rem 0;
    background: #168d45;
  }
  #tn-banner-whatsapp .btn-tb {
    margin:0 0 0 .25rem;
    padding:.4rem;
    box-sizing:border-box;
  }
  #tn-banner-whatsapp .btn-tb>img {
    max-height:20px;
    max-width:20px;
    margin:0;
  }
  .btn-tb img {
    width:20px;
    height:20px;
  }
}
@media only screen and (max-width:743px) {
  #tn-banner-whatsapp {
    padding:15px;
    margin:1.65rem -15px!important;
    width:95vw;
    border-radius:0;
    box-sizing:border-box;
    font-size:12px;
    line-height:1.3;
    border-radius: 4px;
    background: #168d45;
  }
  #tn-banner-whatsapp .hide-mobile {
    display:none!important;
  }

  .fb-comments {
    width: 100%; 
    max-width: 676px; 
    margin: 0 auto; 
}
  #tn-banner-whatsapp .btn-tb {
    width:max-content;
    max-width:max-content;
    max-height:max-content;
    line-height:1.2;
    font-size:12px;
  }
  #tn-banner-whatsapp .btn-tb>img {
    width:20px!important
  }
  .btn-tb img {
    width:25px;
    height:25px;
  }
  html[amp] #tn-banner-whatsapp {
    margin:1.65rem 0!important;
    width:100%;
  }
}
  #icone {
  display: flex; /* Ativa o Flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}


/* Estilo para a navbar */
.navbar {
    background-color: #ffcc00;  /* Cor de fundo amarela */
    color: #000000;  /* Cor do texto preta */
    padding: 5px 20px;  /* Navbar mais fina */
    font-family: Arial, sans-serif;  /* Fonte simples */
    text-align: center;
    font-size: 14px;  /* Tamanho da fonte ajustado */
    position: relative;
    transition: top 0.3s;  /* Suaviza a transição de desaparecimento */
    z-index: 1000;  /* Garante que a navbar fique no topo */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-text {
    margin: 0;
    font-weight: bold;
}

.btn-blog {
    background-color: #000000;  /* Cor de fundo do botão */
    color: #ffcc00;  /* Cor do texto do botão */
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 20px;  /* Espaçamento entre o texto e o botão */
    transition: background-color 0.3s ease;
}

.btn-blog:hover {
    background-color: #444444;  /* Cor do botão ao passar o mouse */
    color: #ffffff;  /* Texto branco no hover */
}

@media (max-width: 600px) {
    .navbar {
        font-size: 12px;  /* Menor tamanho de fonte em telas pequenas */
    }

    .btn-blog {
        font-size: 10px;  /* Menor tamanho de fonte para o botão */
    }
}

/* Link para a fonte */

  @font-face {
    font-family: 'Chomsky';
    src: url('https://dev.geanramos.com.br/18011975/Chomsky.otf') format('opentype');
  }

  /* Aplicando a fonte no título */
  #header h1 {
    font-family: 'Chomsky', Poppins;
    font-size: 3.1em;
    line-height: 1.3333em;
    padding:0.33335em 0;
  }


/* nao lembro, melhor nao apagar */

#header:after {
  display: block;
  content: '';
  width: 5rem;
  height: 1px;
  margin: 1px auto;
  background-color: #d5d5d5;
}
.footer {
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  color: #d5d5d5;
}

/* Estilos gerais */
#posts {
margin: 0;
padding: 0;
}
.post-content {
display: flex;
align-items: center;
gap: 15px;
}
.post-image {
width: 200px;
aspect-ratio: 16/9;
object-fit: cover;
}

/* Estilos para mobile */
@media (max-width: 768px) {
.post-content {
flex-direction: column; /* Alinha os elementos verticalmente no mobile */
}
.post-image {
width: 100%; /* Ocupa 80% da largura da tela no mobile */
max-width: none;
}
}
