---
---
<!DOCTYPE html>
<html lang="pt-BR">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="google-site-verification" content="I9RJwU1C6KxKY0xw9gjaqZu_yH-RqMCSawpPB_eD9Qw" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - {{ site.title }}</title>
  <base href="{{ site.url }}">

  <!-- Configurações Gerais -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="{{ site.title }}">
  <meta name="apple-mobile-web-app-status-bar-style" content="#008A3C">
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
  <meta name="theme-color" content="#008A3C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#008A3C">
  <meta name="msapplication-navbutton-color" content="#008A3C">
  <meta name="msapplication-TileColor" content="#008A3C">
  <meta name="navbutton-color" content="#008A3C">

  <!-- Meta Tags para SEO no Google -->
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="Tisha News">{% endif %}{% if page.tags %}
  <meta name="keywords" content="{% for tag in page.tags %}{{ tag }}{% if forloop.last == false %}, {% endif %}{% endfor %}">{% else %}
  <meta name="keywords" content="Tisha, Tisha News, esporte, jornais, revistas, biblioteca,compras, computador, corpo, saúde, moda, cinema, crianças, diversão, arte, economia, educação, internet, rádio, tv, tempo, últimas notícias, viagem, jornalismo, informação, notícia, cultura, entretenimento, lazer, opinião, análise, internet, televisão, fotografia, imagem, som, áudio, vídeo, fotos, tecnologia, empregos, humor, música">{% endif %}
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <!-- Meta Tags para Google -->
  <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - {{ site.title }}">
  <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta itemprop="image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ site.image | absolute_url }}{% endif %}">

  <!-- Meta Tags para Facebook (Open Graph), LinkedIn, WhatsApp -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ site.title }} - {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  {% if page.image %} <meta property="og:image" content="{{ page.image | absolute_url }}"> {% else %} <meta property="og:image" content="{{ site.image | absolute_url }}"> {% endif %}
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:locale" content="pt_BR">

  <!-- Meta Tags para Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@geanramos">
  <meta name="twitter:creator" content="@geanramos">
  <meta name="twitter:title" content="{{ site.title }} - {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if page.image %} <meta name="twitter:image" content="{{ page.image | absolute_url }}"> {% else %} <meta name="twitter:image" content="{{ site.image | absolute_url }}"> {% endif %}
  <meta name="twitter:image:alt" content="{{ page.image | absolute_url }}">
  <meta name="twitter:image:width" content="1200">
  <meta name="twitter:image:height" content="630">
  <!-- Favicon e RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ site.url }}/atom.xml">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="https://feeds.feedburner.com/tishanews">
  <link rel="icon" sizes="16x16" href="{{ site.url }}/favicon.ico">
  <link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.ico">
  <link href="{{ site.url }}/favicon.ico" rel="icon" type="image/x-icon">
  <link rel="icon" href="{{ site.url }}/favicon.ico">

  <link rel="apple-touch-icon-precomposed" sizes="512x512" href="{{ site.url }}/favicon.png?v=02">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/favicon.png?v=02">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/favicon.png?v=02">
  <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/favicon.png?v=02">
  
  <script async type="application/javascript" src="https://news.google.com/swg/js/v1/swg-basic.js"></script>
  <script>
  (self.SWG_BASIC = self.SWG_BASIC || []).push( basicSubscriptions => {
    basicSubscriptions.init({
      type: "NewsArticle",
      isPartOfType: ["Product"],
      isPartOfProductId: "CAowhLDaCw:openaccess",
      clientOptions: { theme: "light", lang: "pt-BR" },
    });
  });
</script>
  
  <link rel="icon" href="https://tisha.geanramos.com.br/favicon.png" sizes="192x192" />
  <link rel="preconnect" href="https://picsum.photos" crossorigin>
  <link rel="preconnect" href="https://fastly.picsum.photos" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
  <link rel="preconnect" href="https://tisha.geanramos.com.br" crossorigin>
  <link rel="preconnect" href="https://images.weserv.nl" crossorigin>
  <link rel="preconnect" href="https://i.imgur.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <link href="{{ "/home.css?v=01" | relative_url }}" rel="stylesheet">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TZBPFV014K"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TZBPFV014K', {
    'cookie_domain': 'auto'
  });
  </script>
 </head>
 <body>
  <header class="site-header">
    <div class="capa-container">
        <img class="capa" src="https://picsum.photos/768/276" alt="Capa {{ site.title }}">
    </div>
    <section class="perfil-card">
        <div class="avatar-wrapper">
            <a href="./index.html"> 
                <img class="avatar" src="https://tisha.geanramos.com.br/img/tisha.jpg" alt="Avatar {{ site.title }}">
            </a>
        </div>
        <div class="perfil-header-info">
            <a href="./index.html" class="perfil-nome-link">
                <h1 class="perfil-nome">{{ site.title }}</h1>
            </a>
            <a href="#" target="_blank" class="botao-whatsapp">Seguir</a>
        </div>

        <p class="perfil-descricao">{{ site.description }}</p>
        <p class="perfil-seguidores">496K Seguidores</p>
    </section>
  </header>

  <main class="container">
    {% for post in site.posts limit:100 %}
      <div class="cartao-artigo">
        <a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" class="cartao-artigo-link-imagem">
            <figure class="cartao-artigo-imagem-wrapper">
                <img src="{{ post.image | absolute_url }}" alt="{{ post.title }}">
            </figure>
        </a>
        <div class="cartao-artigo-conteudo">
            <a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" class="cartao-artigo-link-titulo">
                <h3 class="cartao-artigo-titulo">{{ post.title }}</h3>
            </a>
            <p class="cartao-artigo-data">{{ post.date | date: "%d de %B de %Y" }}</p>
        </div>
      </div>
    {% endfor %}
  </main>
  
  <footer class="site-footer">
    <div class="footer-category-trigger">
        <span class="footer-category-text"><a href="./tags/" title="Tags">Tags</a></span>
        <span class="footer-category-icon">
            <svg viewBox="0 0 24 24" height="1em" width="1em" fill="currentColor">
                <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"></path>
            </svg>
        </span>
    </div>
    <div class="footer-links">
        <a href="#" title="Termos de Uso">Termos de Uso</a>
        <a href="#" title="Política de Privacidade">Política de Privacidade</a>
        <a href="./radio.html" title="Radio">Radio</a>
    </div>
    <p class="footer-copyright">© Gean Ramos</p>
  </footer>
 </body>
</html>
