<script>  const player = new Plyr('#player'); </script>
<footer class="footer">
<a href="//tisha.geanramos.com.br/privacy#termos-de-uso" title="Termos de Uso">Termos de Uso</a> / 
<a href="//tisha.geanramos.com.br/privacy#política-de-privacidade" title="Política de Privacidade">Privacidade</a> / 
<a href="//geanramos.com.br/radio" title="Rádio">Rádio</a>
  
<p>@2025 - {{ site.title }}</p>
</footer>
<stytle>
.footer {
  text-align: center; /* Centraliza o conteúdo */
  
  color: #fff; /* Cor do texto padrão */
  font-size: 14px; /* Tamanho da fonte */
  font-weight: 400; /* Peso da fonte */
}

.footer a {
  color: #fff; /* Cor dos links */
  text-decoration: none; /* Remove sublinhado padrão dos links */

}

.footer a:hover {
  color: #d5d5d5; /* Cor dos links no hover */
}

</stytle>
