<script>  const player = new Plyr('#player'); </script>
<footer class="rodape">
  <nav>
    <ul>
      <li><a href="//tisha.geanramos.com.br/privacy#termos-de-uso" title="Termos de Uso">Termos de Uso</a></li>
      <li><a href="//tisha.geanramos.com.br/privacy#politica-de-privacidade" title="Política de Privacidade">Política de Privacidade</a></li>
      <li><a href="https://forms.gle/zezBcJu3XH8MM3sq7" title="Desabafo">Desabafo</a></li>
      <li><a href="//geanramos.com.br/radio" title="Rádio">Rádio</a></li>
    </ul>
  </nav>
</footer>
<footer class="footer"><span>@2025 - {{ site.title }}</span></footer>
