<header id="header">
 <a href="https://tisha.geanramos.com.br/">
  <img src="https://tisha.geanramos.com.br/img/tisha.jpg" alt="Tisha Logo" style="width: 100px;">
  <h1>{{ site.title }}</h1>
 </a>
</header>
<social id="icone">
 <!-- AddToAny BEGIN -->
 <script defer src="https://static.addtoany.com/menu/page.js"></script>
 <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
  <!--<a class="a2a_dd" href="https://www.addtoany.com/share"></a>-->
  <a class="a2a_button_facebook"></a>
  <a class="a2a_button_x"></a>
  <a class="a2a_button_bluesky"></a>
  <a class="a2a_button_telegram"></a>
  <a class="a2a_button_threads"></a>
  <a class="a2a_button_whatsapp"></a>
 </div>
 <script>
  var a2a_config = a2a_config || {};
  a2a_config.locale = "pt-BR";
 </script>
 <!-- AddToAny END -->
</social>
