<head>
  <!-- Meta -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <!--inicio-->
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="application-name" content="{{ site.title }}" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#008A3C" />
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}" />
  <meta name="theme-color" content="#008A3C">
  <!-- Meta Tags para SEO no Google -->
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="Gean Ramos">
  <meta name="keywords" content="Lagartixaria, tisha news, Gean Ramos, geanramos, politica">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <!-- Open Graph / Facebook, LinkedIn, WhatsApp-->
  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta property="og:site_name" content="{{ site.title }}"> {% if page.image %}
  <meta property="og:image" content="{{ page.image | absolute_url }}" />{% else %}
  <meta property="og:image" content="{{ site.image | absolute_url }}" />{% endif %}
  <meta property="og:locale" content="pt_BR">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@geanramos">
  <meta name="twitter:creator" content="@geanramos">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"> {% if page.image %}
  <meta name="twitter:image" content="{{ page.image | absolute_url }}" />{% else %}
  <meta name="twitter:image" content="{{ site.image | absolute_url }}" />{% endif %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="https://tisha.geanramos.com.br/atom.xml">
  <link rel="icon" sizes="16x16" href="https://tisha.geanramos.com.br/img/tisha.svg?v=03">
  <link rel="icon" type="image/x-icon" href="https://tisha.geanramos.com.br/img/tisha.svg?v=03">
  <link href="https://tisha.geanramos.com.br/img/tisha.svg?v=03" rel="icon" type="image/x-icon" />
  <link rel="icon" href="https://tisha.geanramos.com.br/img/tisha.svg?v=03" />

  <!-- CSS & fonts -->
  <style> img, iframe, embed { { border-radius: 8px; } </style>
  <link rel="stylesheet" href="https://tisha.geanramos.com.br/css/main.css">
  <link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css" />
  <script src="https://cdn.plyr.io/3.6.8/plyr.polyfilled.js"></script>
  <link href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700;1,900&display=swap' rel='stylesheet' type='text/css'>
  <!-- RSS -->
  <link href="https://tisha.geanramos.com.br/atom.xml" type="application/atom+xml" rel="alternate" title="Lagratixaria News - Feed" />
</head>
