<head>
  <!-- Meta -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="google-site-verification" content="I9RJwU1C6KxKY0xw9gjaqZu_yH-RqMCSawpPB_eD9Qw" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - {{ site.title }}</title>
  <base href="https://tisha.geanramos.com.br/">

  <!-- Configurações Gerais -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="{{ site.title }}">
  <meta name="apple-mobile-web-app-status-bar-style" content="#008A3C">
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
  <meta name="theme-color" content="#008A3C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#008A3C">
  <meta name="msapplication-navbutton-color" content="#008A3C">
  <meta name="msapplication-TileColor" content="#008A3C">
  <meta name="navbutton-color" content="#008A3C">

  <!-- Meta Tags para SEO no Google -->
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="Tisha News">
  <meta name="keywords" content="Lagartixaria, tisha news, Gean Ramos, geanramos, politica">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <!-- Meta Tags para Google -->
  <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - {{ site.title }}">
  <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta itemprop="image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ site.image | absolute_url }}{% endif %}">

  <!-- Meta Tags para Facebook (Open Graph), LinkedIn, WhatsApp -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ site.title }} - {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  {% if page.image %} <meta property="og:image" content="{{ page.image | absolute_url }}"> {% else %} <meta property="og:image" content="{{ site.image | absolute_url }}"> {% endif %}
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:locale" content="pt_BR">

  <!-- Meta Tags para Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@geanramos">
  <meta name="twitter:creator" content="@geanramos">
  <meta name="twitter:title" content="{{ site.title }} - {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if page.image %} <meta name="twitter:image" content="{{ page.image | absolute_url }}"> {% else %} <meta name="twitter:image" content="{{ site.image | absolute_url }}"> {% endif %}
  <meta name="twitter:image:alt" content="{{ page.image | absolute_url }}">
  <meta name="twitter:image:width" content="1200">
  <meta name="twitter:image:height" content="630">
  <!-- Favicon e RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="https://tisha.geanramos.com.br/atom.xml">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="https://feeds.feedburner.com/tishanews">
  <link rel="icon" sizes="16x16" href="https://tisha.geanramos.com.br/favicon.png?v=02">
  <link rel="icon" type="image/x-icon" href="https://tisha.geanramos.com.br/favicon.png?v=02">
  <link href="https://tisha.geanramos.com.br/favicon.ico" rel="icon" type="image/x-icon">
  <link rel="icon" href="https://tisha.geanramos.com.br/favicon.png?v=02">

    <link rel="apple-touch-icon-precomposed" sizes="512x512" href="https://tisha.geanramos.com.br/favicon.png?v=02">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://tisha.geanramos.com.br/favicon.png?v=02">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://tisha.geanramos.com.br/favicon.png?v=02">
    <link rel="apple-touch-icon-precomposed" href="https://tisha.geanramos.com.br/favicon.png?v=02">

  <!-- CSS & fonts -->
  <link rel="stylesheet" href="https://tisha.geanramos.com.br/css/main.css?v=250222">
  <link rel="stylesheet" href="https://tisha.geanramos.com.br/css/custom.css?v=2503034">
  <link rel="stylesheet" href="https://cdn.plyr.io/3.6.12/plyr.css">
  <script src="https://cdn.plyr.io/3.6.12/plyr.polyfilled.js"></script>
  <link href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700;1,900&display=swap' rel='stylesheet' type='text/css'>

<script async type="application/javascript" src="https://news.google.com/swg/js/v1/swg-basic.js"></script>
<script>
  (self.SWG_BASIC = self.SWG_BASIC || []).push( basicSubscriptions => {
    basicSubscriptions.init({
      type: "NewsArticle",
      isPartOfType: ["Product"],
      isPartOfProductId: "CAowhLDaCw:openaccess",
      clientOptions: { theme: "light", lang: "pt-BR" },
    });
  });
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TZBPFV014K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TZBPFV014K', {
    'cookie_domain': 'auto'
  });
</script>
  <style>
/* Plyr Audio Player - Fundo personalizado */
.plyr--audio {
    background-color: #008A3C;
}

/* Ajustes adicionais para a interface do player */
.plyr--audio .plyr__controls {
    background-color: #008A3C;
}


.plyr--audio .plyr__controls input {
    color: #fff;
}

.plyr--audio .plyr__progress input {
    background-color: #008A3C;
}

.plyr--audio .plyr__volume input {
    background-color: #008A3C;
}

.plyr--audio .plyr__control:hover,
.plyr--audio .plyr__control[aria-expanded=true] {
  background:#00b3ff;
  background:var(--plyr-audio-control-background-hover,var(--plyr-color-main,var(--plyr-color-main,#01A247)));
  color:#fff;
  color:var(--plyr-audio-control-color-hover,#fff);
}
.plyr--audio .plyr__controls {

  color:#4a5464;
  color:var(--plyr-audio-control-color,#fff);
}
    
  </style>
</head>
