/*- Custom style -*/

// -- Put custom style under this point -- //
:root {
  --plyr-color-main: #008A3C; /* Verde */
  --plyr-video-control-background-hover: #008A3C; /* Verde (hover) */
  --plyr-audio-control-background-hover: #008A3C; /* Verde (hover) */
  --plyr-progress-loading-background: rgba(0, 128, 0, 0.6); /* Verde (carregamento) */
  --plyr-range-fill-background: #008A3C; /* Verde (barra de progresso) */
  --plyr-video-range-thumb-active-shadow-color: rgba(0, 128, 0, 0.5); /* Verde (barra de progresso ativo) */
  --plyr-audio-range-thumb-active-shadow-color: rgba(0, 128, 0, 0.1); /* Verde (barra de progresso ativo) */
}
