---
---
<!DOCTYPE html>
<html lang="pt-BR">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet" />
  <link href="/post-modelo.css?v=03" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.plyr.io/3.6.12/plyr.css">
  <style>.plyr--audio,.plyr--audio .plyr__controls,.plyr--audio .plyr__progress input,.plyr--audio .plyr__volume input{background-color:#008a3c}.plyr--audio .plyr__controls input{color:#fff}.plyr--audio .plyr__control:hover,.plyr--audio .plyr__control[aria-expanded=true]{background:#00b3ff;background:var(--plyr-audio-control-background-hover,var(--plyr-color-main,var(--plyr-color-main,#01a247)));color:#fff;color:var(--plyr-audio-control-color-hover,#fff)}.plyr--audio .plyr__controls{color:#4a5464;color:var(--plyr-audio-control-color,#fff)}.plyr{border-radius:5px}</style>
  <link rel="stylesheet" href="https://tisha.geanramos.com.br/css/custom.css?v=250311">
 </head>
 <body>
  <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v23.0"></script>
  <header class="post-banner">
   <img src="{% if page.image %}{{ page.image | absolute_url }}{% else %}https://picsum.photos/768/329{% endif %}" />
  </header>

  <main class="content-container">
   <article class="post-full">
    <header class="post-full-header">
     <h1 class="post-full-title">{{ page.title }}</h1>
    </header>

    <section class="post-full-meta">
     <div class="author-block">
      <a href="index.html" class="author-avatar-link">
       <div class="author-avatar">
        <img src="{{ site.avatar }}" alt="Avatar {{ site.title }}" />
       </div>
      </a>
      <div class="author-meta-info">
       <a href="index.html" class="author-name-link">
        <span class="author-name">{{ site.title }}</span>
       </a>
       <div class="meta-line">
        <span>{{ page.date | date: "%d de %B de %Y" }}</span>
       </div>
      </div>
     </div>
     <div class="follow-button-block">
      <!--<button class="follow-button">SEGUIR</button>-->
      <script defer src="https://static.addtoany.com/menu/page.js"></script>
      <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
       <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
       <a class="a2a_button_facebook"></a>
       <a class="a2a_button_twitter"></a>
       <a class="a2a_button_whatsapp"></a>
      </div>
      <script>
       var a2a_config = a2a_config || {};
       a2a_config.locale = "pt-BR";
      </script>
     </div>
    </section>

    <section class="post-full-content">
      {{ content }}
    </section>
    {% if page.tags.size > 0 %}
    <section class="post-tags">
      <h3>Tags:</h3>
      {% for tag in page.tags %}
        <a href="https://www.google.com/search?q=site:https://tisha.geanramos.com.br+{{ tag | slugify }}" class="tag-button">{{ tag }}</a>
      {% endfor %}
    </section>
    {% endif %}
   </article>
   <section class="leia-tambem">
    <h2>Leia Também</h2>
    {% assign related_tags = "mundo,politica,financas" | split: "," %}
    {% for tag in related_tags %}
      <div class="tag-section">
        <h3 class="tag-section-title">{{ tag }}</h3>
        {% assign count = 0 %}
        {% for post in site.posts %}
          {% if post.url != page.url %}
            {% if post.tags contains tag and count < 5 %}
              {% include cartao-artigo.html %}
              {% assign count = count | plus: 1 %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </section>
   <section class="post-comentarios">
    <h2>Comentários</h2>
    <div class="fb-comments-placeholder">
     <div class="fb-comments" id="fb-comments" 
     data-href="{{ page.url | replace:'index.html','' | absolute_url }}" 
     data-width="700" 
     data-numposts="10">
     </div>
    </div>
   </section>
  </main>
  <footer class="site-footer">
   <div class="footer-links">
    <a href="#" title="Termos de Uso">Termos de Uso</a>
    <a href="#" title="Política de Privacidade">Política de Privacidade</a>
    <a href="./radio.html" title="Radio">Radio</a>
   </div>
   <p class="footer-copyright">© Gean Ramos</p>
  </footer>
   <script src="https://cdn.plyr.io/3.6.12/plyr.polyfilled.js"></script>
   <script>  const players = Plyr.setup('.plyr__video-embed,.video-wrapper div, #local-video, #player, audio'); </script>
 </body>
</html>
